<!DOCTYPE html>
<html>
    <head>
        <title>Matching Cars</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    </head>
    <body>
        <h1>These Cars match your search results:</h1>
        <p>
            <ul>
                {% for car in cars %}
                <li>{{car.getModel}}</li>
                <li>{{car.getPrice}}</li>
                <li>{{car.getMiles}}</li>
                <lsi>{{car.getImage}}</li>
                {% endfor %}
            </ul>
        </p>
        </ul>
    </body>
</html>
